{
  "type": "module",
  "scripts": {
    "dev": "astro dev",
    "build": "astro build",
    "preview": "astro preview",
    "format:astro": "prettier --write \"**/*.astro\"",
    "lint:astro": "prettier --check \"**/*.astro\"",
    "typecheck": "astro check",
    "typecheck:astro": "astro check"
  },
  "dependencies": {
    "astro": "7.3.8"
  },
  "devDependencies": {
    "@astrojs/check": "0.9.10",
    "prettier": "3.9.9",
    "prettier-plugin-astro": "1.1.0"
  }
}
